div.sliderimg
{	
	padding: 5px;
    border: 1px solid #0000ff;
    height: 110px;
    width: 110px;    
    display: inline-block;
}

div.sliderarrows
{	
	padding: 5px;
    height: 110px;
    width: 110px;    
    display: inline-block;
    vertical-align: middle;
}

div.sliderarrows img
{	
	height: 100px;
	width: 100px;
}

div.mainimg
{
	margin-left: 25px;
	padding: 5px;
    border: 1px solid #0000ff;
    height: 410px;
    width: 410px;    
    display: inline-block;
}